<div style="padding: 0 0 15px 0;">
  <h2 mat-dialog-title>
    <span class="valign-center">{{data.title}}</span>
  </h2>
  <mat-dialog-content [innerHTML]="data.question"></mat-dialog-content>
  <br/>
  <mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%">
      <button mat-raised-button mat-dialog-close>No</button>
      <button mat-raised-button [mat-dialog-close]="true">Yes</button>
    </div>
  </mat-dialog-actions>
</div>
