<h2>News</h2>
<ng-container *ngIf="loaded | async; else loading">
  <div style="height: calc(100vh - 240px); overflow: auto;">
    <table>
      <tr *ngFor="let n of news"
        app-news-line [news]="n"
          (msgFeedBack)="onMsgFeedback($event)">
      </tr>
    </table>
  </div>
</ng-container>

<ng-template #loading>
  <h3>Loading...</h3>
</ng-template>
