table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px !important;
  vertical-align: top;
}

.news-section {
  height: calc(100vh - 240px);
  overflow: auto;
}
