<h2>Home Page</h2>

<mat-card>
  Angular is a development platform, built on TypeScript. As a platform, Angular includes:

  <ul>
    <li>A component-based framework for building scalable web applications</li>
    <li>A collection of well-integrated libraries that cover a wide variety of features, including routing, forms management,
      client-server communication, and more</li>
    <li>A suite of developer tools to help you develop, build, test, and update your code</li>
  </ul>

  <p>
    With Angular, you're taking advantage of a platform that can scale from single-developer projects to enterprise-level
    applications. Angular is designed to make updating as easy as possible, so you can take advantage of the latest developments
    with a minimum of effort. Best of all, the Angular ecosystem consists of a diverse group of over 1.7 million developers, library authors, and content creators.
  </p>
</mat-card>

<br/>

<p>
  <mat-checkbox [(ngModel)]="dataService.agree"> I agree to everything</mat-checkbox>
</p>
