<h2>Input Form</h2>
<div [formGroup]="form" style="width: 700px">

  <mat-form-field appearance="outline" class="full-width-input">
    <mat-label>Given name</mat-label>
    <input matInput formControlName="givenName" trim="blur"/>
    <mat-error align="end" *ngIf="form.get('givenName')?.hasError('required')">Required</mat-error>
    <mat-error align="end" *ngIf="form.get('givenName')?.hasError('nameInvalid')">Invalid given name</mat-error>
  </mat-form-field>

  <br/>

  <mat-form-field appearance="outline" class="full-width-input">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname" trim="blur"
           matTooltip="A surname of 'failme' will cause an exception on the server"
           matTooltipClass="tooltipClass"
    />
    <mat-error align="end" *ngIf="form.get('surname')?.hasError('required')">Required</mat-error>
    <mat-error align="end" *ngIf="form.get('surname')?.hasError('nameInvalid')">Invalid surname</mat-error>

  </mat-form-field>

  <br/>

  <mat-form-field appearance="outline" class="full-width-input">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" trim/>
    <mat-error align="end" *ngIf="form.get('email')?.hasError('required')">Required</mat-error>
    <mat-error align="end" *ngIf="form.get('email')?.hasError('pattern')">Invalid email format</mat-error>
  </mat-form-field>

  <br/>

  <mat-form-field appearance="outline" class="full-width-input">
    <mat-label>Birthdate</mat-label>
    <input matInput [matDatepicker]="picker" [min]="MIN_BIRTH_DATE" [max]="END_DATE" formControlName="birthdate"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
    <mat-error align="end">Required</mat-error>
  </mat-form-field>
  <br/>

  <mat-form-field appearance="outline" class="full-width-input">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option *ngFor="let gender of genders" [value]="gender.code">
        {{gender.desc}}
      </mat-option>
    </mat-select>
    <mat-error align="end">Required</mat-error>
  </mat-form-field>

  <div>
    <button mat-raised-button type="button" (click)="onReset()"
            [disabled]="!dataService.submitted && !form.dirty"
    >Reset</button>
    <span fxFlex></span>
    <button mat-raised-button (click)="onSubmit()">Submit</button>
  </div>

  <ng-container *ngIf="dataService.submitted">
    <pre>{{form.value | json}}</pre>
  </ng-container>

</div>
