<td style="white-space: nowrap; width: 250px">{{news?.messageShort}}</td>
<td style="width: 100%" [innerHTML]="news?.message"></td>
<td>
  <a (click)="onFeedMsgBack(msg)"  >
    <mat-icon style="font-size: 18px; position: relative; top: 3px; margin-left: 3px;"
              matTooltip="Click me" matTooltipClass="tooltipClass"
    >info</mat-icon>
  </a>
</td>
