/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  color: white;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 250px;
  height: calc(100vh - 150px); /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: calc(100vw - 250px);
  background-color: #f1f1f1;
  height: calc(100vh - 150px); /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.headerText {
  font-size: 30px;
}

.green-snackbar {
  color: chartreuse;
  font-weight: bold;
}

.red-snackbar {
  color: red;
  font-weight: bold;
}

.html-snackbar {
  color: black;
  background-color: lightgray;
}

.full-width-input {
  width: 100%;
}

.okSnackbar {
  background-color: green;
}

.tooltipClass {
  white-space: pre-line    !important;
  background-color: #4cae4c;
  color: #ffffff;
  font-size: 12px;
  max-width: unset !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
